<div id="banner">
  <h1>Contact Us</h1>
  <img src="assets/rushAPD.jpg">
</div>

<div id="contacts">
  <div id="president">
    <img src="assets/DEthan.jpg">
    <h4>Ethan D'Alessandro</h4>
    <h5>2019 Chapter President</h5>
    <h5>+1(732)484-8162</h5>
  </div>
  <hr>
  <div id="recruiter">
    <img src="assets/CHumza.jpg">
    <h4>Humza Chaudhry</h4>
    <h5>Spring 2019 Recruiter</h5>
    <h5>+1(908)887-2914</h5>
  </div>
  <hr>
  <div id="developer">
    <img src="assets/APavel.jpg">
    <h4>Pavel Aparcana</h4>
    <h5>Web Developer</h5>
    <h5><a href= "http://www.pavelaparcana.com" target="_blank">pavelaparcana.com</a></h5>
  </div>
  <hr>
</div>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3033.844447722906!2d-74.44958778436032!3d40.50082265844425!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c3c65518be06bf%3A0x51b42066917aaf48!2sRutgers%E2%80%93New+Brunswick!5e0!3m2!1sen!2sus!4v1525546430865" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
