<div id="banner">
  <h1>Our Brotherhood</h1>
   <img src="assets/backyard.jpg">
</div>

<div id="brotherhood">
  <div id="SilvisAdrian">
    <div id="imgNcap">
      <img src="assets/SilvisAdrian.jpg">
      <h4>Adrian Silvis</h4>
      <h5>2016 Chapter President</h5>
    </div>
    <p>"Joining Alpha Phi Delta at John Jay College gave me a family away from home, but that family extended far beyond the school I affiliated with. When I transferred to Rutgers University, I was welcomed with open arms by the brothers of the Delta Beta chapter. Even though we didn’t known each other, we were bound by our brotherhood, making the transition to my new school so easy. Alpha Phi Delta serves as a cornerstone in my college career, but we aren’t just a college fraternity, we’re a brotherhood for life."</p>
  </div>

  <div id ="broshow">
    <img src="assets/broSlides/graduates.jpg">
    <img src="assets/broSlides/hiking.jpg">
    <img src="assets/broSlides/7stonesquad.jpg">
    <img src="assets/broSlides/squad2.jpg">
  </div>
</div>

<hr class="horizontalLine">

<div id="philanthropy">
  <h1 class="pageTitle">Helping Our Community</h1>
  <div id="KielyAdam">
    <div id="imgNcap2">
      <img src="assets/KielyAdam.jpg">
      <h4>Adam Kiely</h4>
      <h5>2017 Chapter President</h5>
    </div>
    <p>"Our community service and philanthropy focuses on national and university fundraising initiatives such as The Juvenile Diabetes Research Foundation’s annual 5k walk, Autism Speaks, and Dance Marathon. We believe that service to our local community and university organizations is an integral part of our brotherhood, and we hold the brothers, alumni and new members to a very high standard in this regard. Through these initiatives we show support for the organizations we align with and continue to redefine the standard for what a well rounded brotherhood should look like."</p>
  </div>

  <div id ="philShow">
    <img src="assets/phil/fair.jpg">
    <img src="assets/phil/ruknight.jpg">
    <img src="assets/phil/SDT.jpg">
    <img src="assets/phil/church.jpg">
  </div>
</div>
<link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet"> <!-- 3 KB -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>
